
.form_area {
    color: white;
    width: 100%;
    justify-content: center;
}

.form_area form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 40%;
    min-width: 300px;
    margin: 0 auto;
    background-color: #23282c;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 0px 3px rgb(74, 73, 80);
}
@media only screen and (max-width: 600px) {
    form {
        background-color: white;
    }
}
.form_area label {
    font-size: 25px;
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
}
form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

.form_area input {
    height: 16px;
    background-color: #37434d;
    color: white;
    padding: 5px;
    font: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 10px;
}
#i_mess {
    width: 100%;
}
.form_area textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 3vw;
    max-height: 200px;
    border-radius: 10px;
    background-color: #37434d;
    color: white;
    padding: 5px;
    font: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}
#send_email {
    height: 5vh;
    text-align: center;
}
.form_area p {
    width: 100%;
}