iframe{
    filter: invert(.9) saturate(0.8) hue-rotate(10deg);
}
.calendar {
    margin-top: 20px;
    height: 80vh;
    width: 100%;
}

.calender_footer {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    justify-content:space-evenly;
    height: fit-content;
    margin: 30px;
}
.calender_footer .res_note {
    font-size: 25px;
    width: 50%;
}
.calender_footer .club_contacts {
    text-align: center;
    width: fit-content;
    font-size: 16px;
}


.club_contacts ul li {
    margin: 10px;
}
.cont_loc {
    text-decoration: underline;
}
@media (max-width: 900px) {
    .calendar {
        height: 50vh
    }
    .calender_footer .res_note
    {
        font-size: 16px;
    }
    .calender_footer .club_contacts {
        font-size: 16px;
    }
    .calender_footer {
        gap: 30px;
    }
}




