.Navbar {
    display: flex;
    flex-direction: row;
    height: 10vh;
    justify-content: center;
    align-items: center;
    font-size: 16px;    
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: #111111;
    color: white;
    padding-left: 20px;
}
.deas-guyz-logo {
    background-image: url(./Images/DGLogo.png);
    background-size: contain;
    width: 7vh;
    height: 7vh;
    background-repeat: no-repeat;
    position: absolute;
    background-position: center;
    left: 1vw;
    background-color: white;
    border-radius: 50%;
    animation: cd-spin 10s infinite linear;
}
.deas-guyz-logo:hover {
    cursor: pointer;
    animation-play-state: paused;
}
a {
    text-decoration:  none;
}
a:visited {
    color: inherit;
}
@keyframes cd-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.nav_buttons_full ul {
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    width: fit-content;
    justify-content: center;
    opacity: 100%;
    transition: .5s;
}
.d_options ul {
    display: flex;
    flex-direction: column;
}
.d_options {
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.694);
    border: solid white;
    padding: 10px;
    position: absolute;
    max-width: 150px;
    visibility: hidden;
    opacity: 0%;
    transition: .5s;
}

.dropdown_menu:hover > .d_options {
    visibility: visible;
    opacity: 100%;
}

.nav_buttons_full li, a {
    padding-left: 10px;
    padding-right: 10px;
    background-position: -50%;
    text-decoration: none;
    color: white;
}
.nav_buttons_full li:hover {
    cursor: pointer;
    box-shadow: 0 2px 0 0 white;
}
.nav_buttons_full .active {
    box-shadow: 0 2px 0 0 white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;;
}
.nav_buttons_small {
    visibility: hidden;
    opacity: 0%;
    position: absolute;
    right: 50px;
    width: 200px;
    font-size: 20px;
    transform: .5s;
    text-align: right;
}
.nav_buttons_small .active {
    box-shadow: 0 2px 0 0 white;
}
.nav_buttons_small {
    cursor: pointer;
}
.small_menu_dropdown {
    visibility: hidden;
    position: absolute;
    border: solid green;
    background-color: rgba(0, 0, 0, 0.853);
    border: solid white;
    width: fit-content;
    right: 0;
    width: 200px;
    text-align: center;
    /* padding-bottom: 10px; */
    margin-top: 10px;
    transition: .5s;
    opacity: 0%;
}
.nav_buttons_small:hover > .small_menu_dropdown {
    visibility: visible;
    opacity: 100%;
    transition: .5s;
}
.small_menu_dropdown li{
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
}
.small_menu_dropdown li:hover {
    text-decoration: underline;
}
@media (max-width: 900px) {
    .nav_buttons_full ul {
        visibility: hidden;
        opacity: 0%;
        transform: translate(120px);
        transition: .5s;
    }
    .nav_buttons_small {
        visibility: visible;
        opacity: 100%;
        transition: .5s;
    }
}
