
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.parent_container {
    display: flex;
    /* width: 100%; */
    flex-direction: column;
    align-items: center;

}

.BandPhoto {
    width: 100%;
    height: 40vw; 
    background-image: url(./Images/DeasGuyzBandphoto.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: top; 
    background-image: linear-gradient(to bottom, rgba(17, 17, 17, 0) 70%, rgba(17, 17, 17, 1) 100%), url(./Images/DeasGuyzBandphoto.jpg);
}

#bandDescription {
    border-bottom: solid white 5px;
    color: white;
    font-size: 16px;
    width: 75vw;
    margin-top: 30px;
    text-align: center;
}
.about-the-band {
    margin: 10vh;
    color: white;
    width: 80vw;
    padding: 20px;
    font-size: 30px;
    border-radius: 10px;
}
p {
    margin: 0;
    padding: 0;
    line-height: 2em;
    padding-bottom: 1em;
}
.about-the-band p {
    text-align: left;
}
.about-the-band h1 {
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 2vw;
}
#band_name {
    color: white;
    font-size: 5vw;
    position: absolute;
    top: 30vw;
    width: 90%;
    /* line-height: 400px; */
    /* border: solid white ; */
    letter-spacing: 1.5vw;
    font-weight: bolder;
    font-style: oblique;

}
.testimonial  {
    color: white;
    max-width: 80%;
    text-align: center;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 5px 5px 0px 3px rgba(74, 73, 80, 0.600);
    background-color: rgba(35, 40, 44, 0.6);
    font-size: 30px;
    height: 300px;
    margin-top: 50px;

}
.hello p {
    display: flex;
    align-items: center;
    height: 300px;
}
@media (max-width: 900px) {
    .BandPhoto {
        background-size: cover;
        width: 100%;
    }
    .testimonial {
        font-size: 16px;
        width: 70%;
    }
    .about-the-band p {
        font-size: 16px;
    }
}
